.displayed-city {
  color: #ff7f50;
  font-size: 50px;
  font-weight: 500;
  margin-top: 15px;
}
.displayed-date li {
  list-style: none;
}
.displayed-date {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 30px;
  opacity: 0.8;
  padding-left: 0;
}
.displayed-date li:first-letter {
  text-transform: capitalize;
}
.displayed-temperature {
  font-size: 50px;
  font-weight: 500;
  margin-top: 15px;
}
.units {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 30px;
  opacity: 0.8;
  text-decoration: none;
}
.unit-style {
  text-decoration: none;
}
.displayed-icon {
  font-size: 100px;
  margin-top: -35px;
}
.displayed-temperature .active {
  color: #404969;
  cursor: default;
  font-size: 25px;
}
